BACKEND_IMAGE=petrovilya150/backend:${IMAGE_TAG}
FRONTEND_IMAGE=petrovilya150/frontend:${IMAGE_TAG}
IMAGE_TAG=abc123

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=family_shop

SESSION_SECRET=supersecret
CORS_ORIGIN=http://localhost

NODE_ENV=production